absl-py==2.1.0
annotated-types==0.7.0
anyio==3.7.1
async-timeout==4.0.3
autopep8==2.2.0
black==24.4.2
cachetools==5.3.3
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.1.1
cycler==0.12.1
dataclasses-json==0.6.7
dnspython==2.6.1
docker-pycreds==0.4.0
environs==9.5.0
exceptiongroup==1.2.1
fastapi==0.103.2
filelock==3.15.4
fonttools==4.53.0
fsspec==2024.6.0
gitdb==4.0.11
GitPython==3.1.43
glfw==2.7.0
google-auth==2.30.0
google-auth-oauthlib==1.0.0
grpcio==1.64.1
h11==0.14.0
idna==3.7
imageio==2.34.1
importlib_metadata==7.2.1
importlib_resources==6.4.0
iniconfig==2.0.0
-e git+ssh://git@github.com/qiaogaojian/tweaks_isaac_gym.git@0fae02de7c3c61aad8678db54b33c14408a4b4c2#egg=isaacgym&subdirectory=python
Jinja2==3.1.4
kafka-python==2.0.2
kiwisolver==1.4.5
Markdown==3.6
MarkupSafe==2.1.5
marshmallow==3.21.3
matplotlib==3.7.5
mpmath==1.3.0
mujoco==2.3.6
mujoco-python-viewer==0.1.4
mypy-extensions==1.0.0
networkx==3.1
ninja==1.11.1.1
numpy==1.21.1
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.5.40
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
opencv-python==4.10.0.84
packaging==24.1
pandas==2.0.3
pathspec==0.12.1
pillow==10.3.0
platformdirs==4.2.2
pluggy==1.5.0
protobuf==5.27.1
psutil==6.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycodestyle==2.11.1
pycore @ git+ssh://git@gitlab.53site.com/ai/pycore.git@25550c9d32005f8e09cee0ae9e37406a88588ea4
pycryptodome==3.20.0
pydantic==2.3.0
pydantic_core==2.6.3
pymongo==4.4.1
PyMySQL==1.1.1
pymysqlpool @ git+https://github.com/luvvien/pymysqlpool.git@abdc3e0f834900ae47016328e53ff0e25ce31769
PyOpenGL==3.1.7
pyparsing==3.1.2
pytest==7.4.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
redis==4.6.0
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
schedule==1.2.2
scipy==1.10.1
sentry-sdk==2.6.0
setproctitle==1.3.3
simplejson==3.19.2
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
starlette==0.27.0
sympy==1.12.1
tensorboard==2.14.0
tensorboard-data-server==0.7.2
threadpool==1.3.2
tomli==2.0.1
torch==2.3.1
torch-tb-profiler==0.4.3
torchvision==0.18.1
tqdm==4.66.4
triton==2.3.1
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
uvicorn==0.22.0
wandb==0.17.2
Werkzeug==3.0.3
zipp==3.19.2
